@import "react-alice-carousel/lib/alice-carousel.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.bigContMax {
  width: "1500px";
  max-width: 1500px;
  margin: "0 100px";
}
